.login-container {
  margin-top: 10% !important;

  .step-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .step {
      display: none;

      h2 {
        margin-top: 0;
      }
    }

    .active {
      display: block;
    }
  }
}
.signup {
  flex: right;
}
