
   <div class="container login-container card ">
    <div class="row card-body">
      <div class="col-md-6">
        <img src="../../../assets/acc.jpg" alt="Placeholder Image" class="img-fluid">
      </div>
      <div class="col-md-6">
        <div class="card">
        
          <div class="card-body">
            <div class="step-container">
                <div class="step active form-group"  *ngIf="currenctStep==0">
                    
                  <h2>Step 1: Enter your email</h2>
                  <form [formGroup]="usernameForm">
                   
                    <div class="form-group mt-2">
                      <label for="email">Email address or Phone Number</label>
                      <input class="form-control"  placeholder="+2507xxxxxxxx" formControlName="username" required>
                    </div>
                    <button type="submit" class="btn btn-primary next-step mt-2" (click)="goToNextStep()">Next</button>
                  </form>
                </div>
                <div class="step active form-group" *ngIf="currenctStep==1">
                  <h2>Step 2: Enter OTP</h2>
                  <form [formGroup]="otpForm">
                    <div class="form-group mt-2">
                      <label for="password">OTP</label>
                      <ng-otp-input  [formCtrl]="otpControl"  [config]="{length:6}"></ng-otp-input>
                    </div>
                    <button type="submit" class="btn btn-primary next-step mt-2" (click)="goToNextStep()">Next</button>
                  </form>
                </div>
                <div class="step active form-group" *ngIf="currenctStep==2">
                  <h2>Step 2: Enter password</h2>
                  <form [formGroup]="passwordForm">
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input class="form-control" matInput [type]="passwordHide ? 'password' : 'text'" formControlName="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary next-step mt-2" (click)="goToNextStep()">Next</button>
                    <button  class="btn btn-default px-2" [disabled]="isLoading" routerLink="/reset-password">
                        Forgot password?
                      </button>
                  </form>
                </div>
              
        
                <div class="alert alert-success mt-2" role="alert" *ngIf="successAlert">
                  {{allertMessage}}
                  </div>
                <div class="alert alert-danger mt-2" role="alert" *ngIf="alert">
                  {{allertMessage}}
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

